h1{
    color: #e2e2e2;
    text-align: center;
    font-size: 2.2em;
}

.popupContainer {
    position: absolute;
    width: 30%;
    top: 30%;
    padding: 20px;
    border-radius: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: _palette(accent2);
    box-shadow: 5px 5px 5px #000;
    display: flex; 
    align-items:center;
    flex-flow: column;

    h1{
        color: #000;
    }

    .results-container{
        font-size: 1.2em;
        margin: 20px;
        display: flex;
        flex-flow: column;
        align-content: center;
        text-align: left;

        .result{
            display: flex;
            flex-flow: row;
            margin: 3px; 

            .name{
                width: 150px;
            }
        }
    }

    .close{
        position: absolute;
        right: 20px;
        background-color: #ff7d7d;
    }

    .open-visualizer-button{
        margin: 20px;
        button{
            background-color: #8883ff;
        }
        
        button:hover{
            background-color: #a3a3ff;
        }
    }

}
