@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,700,700i");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  overflow: hidden;
  line-height: 1;
  background-color: #1D1D23; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  -webkit-text-size-adjust: none; }

mark {
  background-color: transparent;
  color: inherit; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none; }

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #7549e0;
  border-radius: 7px;
  border: 0;
  color: !important;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  height: 4rem;
  line-height: 4rem;
  overflow: hidden;
  padding: 0 1rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  color: _svg(logo);
  transition: background-color 0.5s; }
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover {
    background-color: #67a5c8; }
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active,
  button:active,
  .button:active {
    background-color: #549AC1; }
  input[type="submit"].primary,
  input[type="reset"].primary,
  input[type="button"].primary,
  button.primary,
  .button.primary {
    background-color: #35FF83;
    box-shadow: none;
    color: !important; }
    input[type="submit"].primary:hover,
    input[type="reset"].primary:hover,
    input[type="button"].primary:hover,
    button.primary:hover,
    .button.primary:hover {
      background-color: #57a3ce; }
    input[type="submit"].primary:active,
    input[type="reset"].primary:active,
    input[type="button"].primary:active,
    button.primary:active,
    .button.primary:active {
      background-color: #35FF83; }
  input[type="submit"].round,
  input[type="reset"].round,
  input[type="button"].round,
  button.round,
  .button.round {
    text-align: center center;
    font-size: 2.7rem;
    height: 5rem;
    width: 5rem;
    border-radius: 4rem; }
  input[type="submit"].smallround,
  input[type="reset"].smallround,
  input[type="button"].smallround,
  button.smallround,
  .button.smallround {
    text-align: center center;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 4rem; }
  input[type="submit"].small,
  input[type="reset"].small,
  input[type="button"].small,
  button.small,
  .button.small {
    font-size: 0.8rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 3.75rem 0 1.25rem; }
  input[type="submit"].large,
  input[type="reset"].large,
  input[type="button"].large,
  button.large,
  .button.large {
    font-size: 1.20rem;
    height: 4.8rem;
    line-height: 4.8rem;
    padding: 0 4.75rem 0 1.5rem; }
  input[type="submit"].wide,
  input[type="reset"].wide,
  input[type="button"].wide,
  button.wide,
  .button.wide {
    min-width: 13rem; }
  input[type="submit"].fit,
  input[type="reset"].fit,
  input[type="button"].fit,
  button.fit,
  .button.fit {
    width: 100%; }

input[type=text],
input[type=number] {
  background-color: #549AC1;
  border: 0;
  border-radius: 7px;
  height: 2rem;
  font-size: 1.5rem;
  padding: 6px;
  text-align: center; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #484848;
  opacity: 1;
  /* Firefox */ }

select {
  margin: 15px;
  background-color: #549AC1;
  border: 0;
  border-radius: 7px;
  height: 2.8rem;
  font-size: 1rem;
  padding: 6px;
  width: 150px; }

textarea {
  margin: 20px 0;
  padding: 10px;
  border-radius: 7px;
  width: 100%;
  resize: vertical;
  color: #d1d1d1;
  font-size: 1.2rem;
  background-color: #34343f; }

.ChartContainer {
  box-sizing: border-box;
  width: 65%;
  height: 100%;
  border-right: 3px solid #00cc56;
  padding: 10% 15px 9% 5px; }

.ControlsContainer {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100%;
  display: block;
  padding: 40px 70px;
  overflow-y: scroll;
  overflow-x: hidden; }
  .ControlsContainer .add {
    left: 50%;
    transform: translate(-50%);
    margin-top: 15%; }
  .ControlsContainer .subcontrols {
    display: flex; }
  .ControlsContainer .PauseStop {
    position: absolute;
    left: 70px;
    margin-top: 80px;
    padding: 20px; }
    .ControlsContainer .PauseStop button {
      display: block;
      left: 0;
      margin-top: 40px; }
    .ControlsContainer .PauseStop #Stop {
      background-color: #ff4242; }
    .ControlsContainer .PauseStop #Pause {
      background-color: #ffaf42; }
  .ControlsContainer .Move {
    position: absolute;
    right: 70px;
    margin-top: 80px;
    padding: 20px; }
    .ControlsContainer .Move button {
      display: block;
      left: 50%;
      transform: translate(-50%);
      margin-top: 20px; }
    .ControlsContainer .Move .Distance {
      display: block;
      margin-top: 20px; }

h1 {
  color: #e2e2e2;
  text-align: center;
  font-size: 2.2em; }

.AddTest #Exit {
  background-color: #ff7c7c;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0; }

.AddTest .TestForm {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif; }
  .AddTest .TestForm.Titel {
    width: 90%;
    position: static;
    margin-top: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    color: #151515; }
  .AddTest .TestForm.Parameter {
    box-sizing: content-box;
    text-align: center;
    color: #e3e3e3;
    font-size: 1.5em;
    padding-top: 20px; }

.ParameterList {
  margin-top: 10px;
  background-color: #34343f;
  border-radius: 7px;
  border: 2px solid #35FF83; }
  .ParameterList .ParaCon {
    padding: 10px 10px 10px 5%;
    display: flex;
    position: relative; }
    .ParameterList .ParaCon .fa-times {
      padding: 5px 5px 5px 15px;
      color: #ff4b4b;
      position: absolute;
      right: 10px; }
    .ParameterList .ParaCon .fa-plus {
      padding: 5px 15px;
      color: #4bff75; }
    .ParameterList .ParaCon .ParameterItem {
      white-space: nowrap; }
      .ParameterList .ParaCon .ParameterItem.Name {
        text-align: left;
        vertical-align: center;
        font-size: 1.5vw;
        margin-top: 5px;
        margin-right: 10px;
        width: 500%;
        overflow: hidden; }
      .ParameterList .ParaCon .ParameterItem.Unit, .ParameterList .ParaCon .ParameterItem.Value {
        margin: 5px 10px; }
        .ParameterList .ParaCon .ParameterItem.Unit input, .ParameterList .ParaCon .ParameterItem.Value input {
          font-size: 1.1vw;
          border-radius: 7px;
          height: 1.6rem;
          background-color: rgba(227, 227, 227, 0.95);
          width: 3vw; }
      .ParameterList .ParaCon .ParameterItem.Unit {
        margin-right: 1.4em; }
    .ParameterList .ParaCon.Header {
      border-bottom: 3px solid #35FF83; }
      .ParameterList .ParaCon.Header .PH {
        nargin: 5px 0; }
      .ParameterList .ParaCon.Header .Name {
        width: 100%; }
      .ParameterList .ParaCon.Header .Value {
        margin-right: 1.1em; }
      .ParameterList .ParaCon.Header .Unit {
        margin-right: 1.7em;
        width: 4vw; }
    .ParameterList .ParaCon.AddP {
      border: 2px solid #35FF83;
      background-color: #626277;
      border-radius: 7px; }
      .ParameterList .ParaCon.AddP input {
        background-color: #e0e0e0;
        font-size: 1.2vw;
        border-radius: 7px; }

/*# sourceMappingURL=main.css.map */