.ChartContainer {
    box-sizing: border-box;
    width: _size(chartcontainer-width);
    height: 100%;
    border-right: 3px solid #00cc56;
    padding: 10% 15px 9% 5px;
}   

@include breakpoint('<=small') {
    .ChartContainer {
        box-sizing: border-box;
        width: 100%;
        height: 45%;
        border-right: 0px solid;
        padding: 15% 0 0 0;
    }   
}