.ControlsContainer{
    box-sizing: border-box;
    position: absolute;
    top:0;
    right: 0;
    width: 100% - _size(chartcontainer-width);
    height: 100%;
    display: block;
    padding: 40px 70px;
    overflow-y: scroll;
    overflow-x: hidden;

    .add{
        left: 50%;
        transform: translate(-50%);
        margin-top: 15%;
    }

    .subcontrols{
        display: flex;
    }

    .PauseStop{
        position: absolute;
        left: 80px;
        margin-top: 65px;
        padding: 20px 0;

        button{
            display: block;
            left: 0;
            margin: 20px 0;

        }

        #Stop{
            background-color: #ff4242;
        }        
        
        #HomeOffset{
            background-color: #00f5ff;
        }
        
        #Home{
            background-color: #ff65dc;
        }

    }

    #SetOffset{
        position: absolute;
        bottom: 15px;
        right: 15px;
    }

    .Move{
        position: absolute;
        right: 70px;
        margin-top: 80px;
        padding: 20px;

        button{
            display: block;
            left: 50%;
            transform: translate(-50%);
            margin-top: 20px;
        }

        .Distance{
            display: block;
            margin-top: 20px;
            width: _size(element-height)*1.25;
        }
    }
} 


#Ble{
    position: absolute;
    top: 20px;
    left: 20px;
}

@include breakpoint('<=small') {
    .ControlsContainer{
        width: 100%;
        height: 60%;
        position: absolute;
        top: 40%;
        display: block;
        padding: 30px 20px;
        overflow-y: auto;

        #SetOffset{
            position: fixed;
        bottom: 5px;
        right: 10px;
        }
        
        .Move{
            padding-top: 0;
            margin: 40px 0;
        }

        .add{
            margin-top: 0px;
        }

        .PauseStop{
            margin: 30px 0;
            font-size: 1.8em;

            #stop{
                top: _size(element-height)*1.2;
                font-size: 0.8em;
            }
        }
    }

    #Ble{
        position: absolute;
        top: 5px;
        left: 5px;
    }
}
